table, tr, th {
    background-color: lightblue;
    border-spacing: 20px;
    text-align: center;
    width: 1425px;
}

th:hover {
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

body {
    font-family: Monaco;
}

h1 {
    text-align: left;
}

form {
    text-align: left;
    line-height: 60px;
}

.Description input {
    display:inline-block;
    padding:15px 10px;
    line-height:140%;
}

.Description *{
    vertical-align: middle;
}

.Changes *{
    vertical-align: middle;
    position: relative;
    top: 12px;
}

button {
    font-size: 18px;
    font-family: Monaco;
    position: relative;
    top: 0px;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

img {
    position: absolute;
    bottom: 633px;
    width: 120px;
    height: auto;
    left: 170px;
}